<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Second attempt at recording audio stuff</title>
</head>

<body>
  <div id="app">
    <h1>Second attempt at recording from the browser</h1>
    <h2>Red means recording</h2>
    <div class="recording-witness" :class="{ 'is-recording': isRecording }">&nbsp;</div>
    <button @click="startRecording" :disabled="isRecording">Record</button>
    <button @click="stopRecording" :disabled="!isRecording">Stop</button>

    <h2>Log</h2>
    <code v-html="logData"></code>

    <h2>List of audios:</h2>
    <ul v-if="audios.length">
      <li v-for="(audio, index) in audios" :key="index">
        <audio :src="audio" controls></audio>
      </li>
    </ul>
    <span v-else>No audios recorded yet</span>
  </div>
</body>

<script src="js/web-audio-recorder-js-master/lib-minified/WebAudioRecorder.min.js"></script>

<script src="js/script.js"></script>

</html>